body {
  font-family: "Lato", sans-serif;
  color: $color-grey-dark;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* fix some shaking in animation */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: movInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 700;

    animation: movInRight 1s ease-out;
    margin-bottom: 6rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
